
# =============================================================================
# Bot Config
# =============================================================================

APP_BOT__TOKEN=bot_token_secret

# =============================================================================
# Admin Config
# =============================================================================

APP_BOT__ADMIN_IDS=[382472865]


# =============================================================================
# Docker Compose Variables
# =============================================================================

POSTGRES_DB=rental_parser
POSTGRES_USER=rental_parser_user
POSTGRES_PASSWORD=parser_password_secure_123

PGADMIN_DEFAULT_EMAIL=admin@admin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False


# =============================================================================
# Application Config
# =============================================================================

# --- Server ---
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000

# APP_DB__URL=postgresql+asyncpg://rental_parser_user:parser_password_secure_123@pg:5432/rental_parser
APP_DB__URL=postgresql+asyncpg://rental_parser_user:parser_password_secure_123@localhost:5432/rental_parser
APP_CONFIG__DB__ECHO=True
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__POOL_SIZE=5
APP_CONFIG__DB__MAX_OVERFLOW=10